.ckl-app-space_selector {

    .spcSpaceSelector__logo,
    .kbnSolutionAvatar {
        svg {
            display: none !important;
        }

        &:before {
            content: '';
            display: flex;
            background-position: center;
            background-image: url('../assets/kosmos-logo-no-text.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 48px;
        }
    }

    // Remove background design 
    .spcSpaceSelector {
        &:before {
            content: '';
        }

        &:after {
            content: '';
        }
    }
}
